<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  <meta charset="UTF-8" />
  <title>loginページ</title>
  </head>
  <body>
    <h1>login</h1>
    <div th:if="${message} != null">
      <span th:text="${message}"></span>
    </div>
    <form th:action="@{/login}" method="post">
      <p>ユーザー: <input type="text" name="user" th:value="${user}" /></p>
      <p>パスワード: <input type="password" name="password" /></p>
      <p><input type="submit" value="ログイン" /></p>
    </form>
  </body>
</html>